/* define template colors here */

$my-app-darkblue: #06559b;
$my-app-blue: #0775cd;
$my-app-lightblue: #3fa9f5;

$my-app-black: #000;
$my-app-darkgray: #575757;
$my-app-gray: #a8a8a8;
$my-app-lightgray: #eee;
$my-app-lightergray: #f8f8f8;
$my-app-white: #fff;

$my-app-red: #ff8800;
$my-app-orange: #ff0022;
