<div class="jumbotron">
  <h2 ng-bind="homeCtrl.title"></h2>

  <p class="lead">
    <img src="images/Template.png" alt="I'm template image"><br>
    A Template for new apps with angular.
  </p>
</div>

<div class="gallery row">
  <div class="col-xs-6 col-md-2">
    <div class="thumbnail">
      <img
        src="https://github.com/angular/angular.js/blob/master/images/logo/AngularJS-Shield.exports/AngularJS-Shield-medium.png?raw=true"
        alt="AngularJS Logo" title="AngularJS Framework">
    </div>
  </div>
  <div class="col-xs-6 col-md-2">
    <div class="thumbnail">
      <img
        src="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp.png"
        alt="GulpJS Logo" title="Gulp Task Runner">
    </div>
  </div>
  <div class="col-xs-6 col-md-2">
    <div class="thumbnail">
      <img
        src="https://www.browsersync.io/brand-assets/logo-red.svg"
        alt="Browsersync Logo" title="Browsersync Framework">
    </div>
  </div>
  <div class="col-xs-6 col-md-2">
    <div class="thumbnail">
      <img
        src="https://avatars3.githubusercontent.com/u/3284117?v=3&s=200"
        alt="Karma Logo" title="Karma Test Runner">
    </div>
  </div>
  <div class="col-xs-6 col-md-2">
    <div class="thumbnail">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/2/22/Logo_jasmine.svg"
        alt="Jasmine Logo" title="Jasmine Test Framework">
    </div>
  </div>
  <div class="col-xs-6 col-md-2">
    <div class="thumbnail">
      <img
        src="https://lh3.googleusercontent.com/proxy/vlbDlVge7h5fGj_4tFDzXq9Nz38mlFZwHK_b_CvCsO7NUph-JZ4E4n-mFb5PtXFLcaWX7VHFa9OqZKPGN9uTJfPlRhsO3I8j01mYlUizy-PKPpwXCEAIuiRj=s110-p"
        alt="PhantomJS Logo" title="PhantomJS">
    </div>
  </div>
</div>

